<div>
    <table>
        <thead>
            <tr>
                <th>Обложка</th>
                <th>
                    <button type="button" class="btn btn-link" (click)="sortClick('Title')">Заголовок</button>
                    <span class="glyphicon glyphicon-arrow-up"   *ngIf = "sortStatus('Title') == 2"></span>
                    <span class="glyphicon glyphicon-arrow-down" *ngIf = "sortStatus('Title') == 1"></span>
                </th>
                <th>Авторы</th>
                <th style="min-width:100px;">
                    <div style="display:inline-block;">
                        <div style="display:inline">
                            <button type="button" class="btn btn-link" (click)="sortClick('PageCount')">Стр</button>
                        </div>
                        <div style="display:inline">
                            <span class="glyphicon glyphicon-arrow-up" *ngIf="sortStatus('PageCount') == 2"></span>
                            <span class="glyphicon glyphicon-arrow-down" *ngIf="sortStatus('PageCount') == 1"></span>
                        </div>
                    </div>
                </th>
                <th>Издатель</th>
                <th>Год</th>
                <th>ISBN</th>
                <th colspan="2">
                    <button type="button" (click)="addBook()" class="btn btn-default">
                        <span class= "glyphicon glyphicon-plus-sign"></span>
                            Добавить книгу
                     </button>
                </th>
            </tr>
        </thead>
        <tr class="bookRow" *ngFor="let book of books">
            <td class="picBook">
                <img *ngIf="book.ImagePath" width="50px" height="50px" [src]="book.ImagePath" />
                <img *ngIf="!book.ImagePath" width="50px" height="50px" />
            </td>
            <td style="width:30%">{{book.Title}}</td>
            <td style="width:25%">
                <ul>
                    <li *ngFor="let a of book.Authors">
                        {{a.FirstName}} {{a.LastName}}
                    </li>
                </ul>
            </td>
            <td style="width:10%">{{book.PageCount | number }}</td>
            <td style="width:10%">{{book.Publisher}}</td>
            <td style="width:7%">{{book.PublicYear}}</td>
            <td style="width:10%">{{book.Isbn}}</td>
            <td>
                <button type="button" (click)="onEdit(book)" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit
                </button>
            </td>
            <td>
                <button type="button" (click)="onDelete(book)" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>